

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Merriweather', serif;
    letter-spacing: 2px;
    scroll-behavior: smooth;
}
/* 22:20*/
/* rgb(161, 201, 219) */

/*
 for responsive design 
@media(max-width: 1383px){
    header,
    header.sticky{
        padding: 20px 50px;
        z-index: 1000;
    }

    .hamburger-menu{
        position:fixed;
        top:0;
        left:0;
        display: block;
        padding:100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background-color: rgb(17, 63, 104);
        color: black;
        transition: 1s;
        z-index: 999;
    }

    header ul li a{
        color:aliceblue;
    }
    .toggle{
        width: 40px;
        height: 40px;
        background: url(hamburger.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
        z-index: 999;
    }
}
*/
section{
    padding: 100px;
}
/* navbar */
header {
    transition: 0.5s; /* speed of navbar color change when scrolling */
    position: fixed;
    top: 0;
    color: white;
    left: 0;
    width: 100%;
    padding: 20px 50px 20px 0px;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

/* to change navbar when scrolling */
header.sticky{
    background: rgb(161, 201, 219);
    color: black;
    padding: 20px 50px 20px 0px;
    /*box-shadow: 0 5px 20px cornflowerblue;*/
}

header .header-logo{
    color: white;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
}

header.sticky .header-logo{
    color: black;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    position: relative;
    color: white;
    list-style: none;
}

header ul li a{
    position: relative;
    display: inline-block;
    margin: 0px 15px;
    text-decoration: none;
    color: white;
    list-style: none;
}
header.sticky ul li a{
    color: black;
}

header ul li a:hover{
    text-decoration: underline;
    color: black;
    transition: 0.5s;
}

/* about me section */
.heading{
    position: relative;
    min-height: 40vh;  /* size of section */
    /*background: url(coding.jpg);*/
    background-color: #A0BEE8;
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 147px;
   /* box-shadow: 0px 10px 13px -7px; */
}

/* typewriter blinking effect*/
span{
    animation-name: blinker;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
  }
  
  @keyframes blinker{
    50%{
      opacity: 0;
    }
  }

.heading h1{
    font-size: 5em;
    color: white;
    font-weight: bold;
    line-height: 1.5em;
    text-align: center;
}

.heading h3{
    font-size: 2em;
    color: white;
    font-weight: bold;
}

.button{
    position:relative;
    background-color: rgb(161, 201, 219);
    display: inline-block;
    text-decoration: none;
    color:black;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 20px;
   
}

.button:hover{
    background-color: white;
    color: black;
    text-decoration: underline;
}

.about-me-heading{
    color: black;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}

.about-me .content{
    display: flex;
    justify-content: space-between; /* puts image next to text (instead of under) */

}

.content-item-w50{
    padding-left: 40px;
    padding-right: 40px;
}
.content-item-w50 h3{
    font-size: 24px;
    margin-bottom: 10px;
}

.w50{
    max-width: 50%;
}

.w50 img{
    width: auto;
    max-height: 350px;

}
/* skills section */

.skills{
    background: rgb(161, 201, 219);
    color: black;
}

.skills .skills-box{
    display: inline-block;
    padding: 30px;
    box-shadow: 0px 10px 13px -7px;
}

.skills .skills-box h2{
    align-content: center;
}

.skills .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.skills .content .skills-box{
    padding: 30px;
    background-color: azure;
    color: black;
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: 0.3s;
}

.skills .content .skills-box:hover{
    background-color: lavender;
}
.skills .content .skills-box img{
    height: 106.250px;
    width: 106.250px;
}
.skills .content .skills-box img:hover{
    filter: invert(1);
}

/* projects section */
.projects .content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.projects .content .project-box{
    width: 500px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.projects .content .project-box img{
    max-width: 100%;
}

.project-text{
    /* make images so that when they are hovered over, shadow shows that they are clickable and take users to github repo*/
    padding-top: 10px;
    text-align: center;
}

/*contact me section*/
.contact {
    background-color: lavender;
    
}

.contact-container{
    display: flex;
    justify-content: space-evenly;

}