

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    scroll-behavior: smooth;
}

/*responsive design*/
@media(max-width: 895px){
    header,
    header.sticky{
        padding: 20px 50px;
        z-index: 1000;
    }

    .hamburger-menu{
        position:fixed;
        top: 75px;
        left:-200%;
        display: block;
        padding:100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background-color: rgb(17, 63, 104);
        color: black;
        transition: 0.2s;
        z-index: 999;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }

    .hamburger-menu.active{
        left: 0px;
    }

    header ul li a{
        font-size: 24px;
        margin-top: 20px;
        color:white;
        text-decoration: none;
        transform: none;
        padding-top: 20px;
        padding-right: 53px; /* centers hamburger menu elements*/
    }
    .toggle{
        width: 40px;
        height: 40px;
        background: url(hamburger.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
        transition: 0.2s;
        z-index: 999;
    }

    header.sticky .toggle{
        filter: invert(1);
    }

    .toggle.active{
        width: 40px;
        height: 40px;
        background: url(close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 27px;
        cursor: pointer;
        z-index: 999;
    }

    section {
        padding: 100px 50px;
    }

    .heading{
        padding: 150px 50px 100px;
    }

    .name-with-effect{
        font-size: 38px; 
    }
    
    .heading .h3{
        font-size: 30px;
    }

    .button{
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
    }

    .content{
        flex-direction: column;
        justify-content: center;
    }

    .w50{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .w50 img{
        max-width: 300px;
        max-height: 150px;
    
    }

    .projects .content .project-box{
        width: 350px;
    }
    
    .projects .content .project-box img{
        max-width: 350px;
        max-height: 250px;
    }

    .project-text{
        max-width: 300px;
        padding-top: 10px;
        text-align: center;
    }
    
    .project-text h3{
        font-size: 16px;
    }

    .overlay-text{
        box-sizing: border-box;
        max-width: 350px;
        max-height: 250px;
        position: absolute;
        top:0;
        left:0;
        text-align: center;
        padding-top: 30%;
        background-color: rgb(211,211,211, 0.5);
        color: white;
        visibility: none;
        opacity: 0;
        transition: 0.3s;
        margin-top: 0;
       
    }
    
}
section{
    padding: 90px;
}
/* navbar */
header {
    transition: 0.5s; /* speed of navbar color change when scrolling */
    position: fixed;
    top: 0;
    color: white;
    left: 0;
    width: 100%;
    padding: 20px 50px 20px 0px;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

/* to change navbar when scrolling */
header.sticky{
    background: /*#7da9e7*/ #A0BEE8;
    color: black;
    padding: 20px 50px 20px 0px;
    /*box-shadow: 0 5px 20px cornflowerblue;*/
}

header .header-logo{
    color: white;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
}

header.sticky .header-logo{
    color: black;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    position: relative;
    color: white;
    list-style: none;
}

header ul li a{
    position: relative;
    display: inline-block;
    margin: 0px 15px;
    text-decoration: none;
    color: white;
    list-style: none;
}
header.sticky ul li a{
    color: black;
}

header ul li a:hover{
    text-decoration: underline;
    color: black;
    transition: 0.5s;
    transform: translateY(-3px); /* raises icon up when hovered over */
}

/* about me section */
.heading{
    position: relative;
    min-height: 40vh;  /* size of section */
    /*background: url(coding.jpg);*/
    background-color: /*#A0BEE8*/black;
    font: white;
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 147px;
   /* box-shadow: 0px 10px 13px -7px; */
}

/* typewriter blinking effect*/
span{
    animation-name: blinker;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
  }
  
  @keyframes blinker{
    50%{
      opacity: 0;
    }
  }

.heading h1{
    font-size: 5em;
    color: white;
    font-weight: bold;
    line-height: 1.5em;
    text-align: center;
}

.heading h3{
    font-size: 2em;
    color: white;
    font-weight: bold;
}

.about-me-heading h2{
    justify-content: center;
}

.button{
    position:relative;
    background-color: #A0BEE8;
    display: inline-block;
    text-decoration: none;
    color:black;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
   
}

.button:hover{
    background-color: white;
    transition: 0.5s;
    color: black;
    text-decoration: underline;
    box-shadow: 0px 15px 20px lavender;
    transform: translateY(-7px);
}

.about-me-heading{
    color: black;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}

.about-me .content{
    display: flex;
    justify-content: space-between; /* puts image next to text (instead of under) */

}

.content-item-w50{
    padding-left: 40px;
    padding-right: 40px;
    
}
.content-item-w50 h3{
    font-size: 24px;
    margin-bottom: 10px;
    justify-content: center;
}

.content-item-w50 p{
    line-height: 22px;
}

.w50{
    max-width: 50%;
}

.w50 img{
    width: auto;
    max-height: 255px;

}
/* skills section */

.skills{
    background: black;
    color: white;
}
.skills-heading{
    color: white;
}
.skills .skills-box{
    display: inline-block;
    padding: 30px;
    box-shadow: 0px 10px 13px -7px;
}

.skills .skills-box h2{
    align-content: center;
    color: black;
}

.skills .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.skills .content .skills-box{
    padding: 30px;
    background-color: azure;
    color: rgba(0, 0, 0.1);
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: 0.3s;
}

.skills .content .skills-box:hover{
    background-color: lavender;
}
.skills .content .skills-box img{
    height: 106.250px;
    width: 106.250px;
}
.skills .content .skills-box img:hover{
    filter: invert(1);
}

/* projects section */
.projects .content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.projects .content .project-box{
    width: 500px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.projects .content .project-box img{
    width: 500px;
    height: 335.64px
}

.project-box{
    position: relative;
}

.projects .content .project-box img:hover{
    opacity: 50%;
    position: relative;
    
}

.project-text{
    /* make images so that when they are hovered over, shadow shows that they are clickable and take users to github repo*/
    padding-top: 10px;
    text-align: center;
}

.overlay-text{
    box-sizing: border-box;
    width: 98%;
    height: 78%;
    position: absolute;
    top:0;
    left:0;
    text-align: center;
    padding-top: 30%;
    background-color: rgb(211,211,211, 0.5);
    color: white;
    visibility: none;
    opacity: 0;
    transition: 0.3s;
    margin-top: 0;
   
}

.project-box:hover .overlay-text{
    visibility: visible;
    opacity: 1;
}

.overlay-text .button{
    position:relative;
    background-color: black;
    display: inline-block;
    text-decoration: none;
    color:white;
    margin-top: 0px;
    padding: 10px 30px;
    font-size: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transform: none;
    box-shadow: inset;
}

/*contact me section*/
.contact {
    background-color: #A0BEE8;
    
}

.contact-container{
    display: flex;
    justify-content: space-evenly;

}

.contact-container .text{
    display: flex;
    justify-content: center;
}

.contact-info-p{
    padding-top: 20px;
    font-size: 22px;
}

.contact-info-p a {
    color: darkblue;
    text-decoration: none;
}
.contact-info-p a:hover{
    color: white;
}

