*{
    margin: 0px;
    padding: 0px;
    font-family: monospace;
    
}

section{
    padding: 100px;
}

header {
    position: fixed;
    top: 0;
    color: white;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

header .header-logo{
    color: white;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    position: relative;
    color: white;
    list-style: none;
}

header ul li a{
    position: relative;
    display: inline-block;
    margin: 0px 15px;
    text-decoration: none;
    color: white;
    list-style: none;
}

.heading{
    position: relative;
    min-height: 100vh;
    background: url(coding.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading h2{
    font-size: 3em;
    color: white;
    font-weight: bold;
    line-height: 1.5em;
}

.heading h3{
    font-size: 1.5em;
    color: white;
    font-weight: bold;
}

.button{
    position:relative;
    background-color: aqua;
    display: inline-block;
    color:black;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 20px;
}

.button:hover{
    background-color: orange;
    color:white;
}